:root{
    --color1:  #FFFFFF;
    --color-2: #7C4EE4;
    --color-3: #333333;
    --color-4: #999999;
    --color-5: #666666;
    --color-6: #150E06;

}
@font-face {
    font-family: "rewelye";
    src: url(./fonts/rewelye);
}
.color-6-t{
    color: var(--color-6) !important;
}
.color-4-t{
    color: var(--color-4);

}
.color-5-t{
color: var(--color-5);
}

.font{
    font-family: rewelye;
}
.lh150{
    line-height: 150%;
}
.color-1-B{
    background-color: var(--color1);
}
.color-2-B{
    background-color: var(--color-2);
}
.color-2-t{
    color: var(--color-2) !important;
}
.color-3-t{
    color: var(--color-3) !important;
}
.button123{
    background-color: transparent;
    border: none;
    background-color: var(--color-2);
    border: 1px solid #7C4EE4;
    padding: 10px 20px;
    color: white;
    font-size: small;
}

.button-2{
    background-color: transparent;
    border: none;
    background-color: white;
    border: 1px solid white;
    padding: 10px 20px;
    color: black;
    font-size: small;
}
.button-3{
    background-color: transparent;
    border: none;
    background-color: white;
    border: 1px solid var(--color-2);
    padding: 10px 20px;
    color: var(--color-2);
    font-size: small;
}
.fs-16{
    font-size: 12px !important;
}

